.mb-2 {
    color: darkolivegreen !important;
    margin-bottom: 0.5rem !important;
}

.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button, .p-fileupload-choose.p-button-success {
    color: #ffffff;
    background: darkolivegreen;
    border: 1px solid rgb(49, 107, 47);
}

#log{
    width: auto;
    margin: 1em;
}

#loglog{
    width: 240px;
}

img{
    width: -webkit-fill-available;
    align-self: center
}



.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: darkolivegreen !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
display: grid !important;
}

#imgExport{
    width: auto;
}
